<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="camera" value="0"/>
		<add key="stream_fps" value="10"/>
		<add key="stream_port" value="11111"/>
		<add key="tello_port" value="8888"/>
		<add key="link_port" value="8889"/>
		<add key="state_port" value="8890"/>
	</appSettings>
</configuration>