<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="root" value="."/>
		<add key="link_port" value="8889"/>
		<add key="state_port" value="8890"/>
		<add key="stream_port" value="11111"/>
		<add key="emu_port" value="8888"/>
		<add key="tello_port" value="8889"/>
		<add key="tello_addr" value="192.168.10.1"/>
		<add key="emulate" value="0"/>
		<add key="log" value="tello-link.log"/>
	</appSettings>
</configuration>