* {
	user-select: none;
}
button {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-right: 1px;
	cursor: pointer;
}

#video-canvas {
	width: 640px;
	height: 360px;
	display: none;
}

#tableX {
	margin-top: 5px;
	position: relative;
	width: 640px;
	height: 360px;
	border: 1px solid #ccc;
}
#tableY {
	position: relative;
	width: 640px;
}
#tableZ {
	margin-top: 5px;
	position: relative;
	width: 640px;
}
#poweroff {
	position: absolute;
	right: -2px;
	top: 2px;
}
#tableG,
#table1,
#table2 {
	position: absolute;
	z-index:1;
	line-height: 1.3;
	font-size: small;
	text-align: right;
	text-shadow:
		-1px -1px 1px white,
		1px -1px 1px white,
		-1px 1px 1px white,
		1px 1px 1px white,
		-1px 0px 1px white,
		1px 0px 1px white,
		0px 1px 1px white,
		0px -1px 1px white;
}
#table1 {
	left:2px;
	top: 2px;
	/*width: 9em;*/
}
#table2 {
	right:2px;
	top: 2px;
	/*width: 9em;*/
}
#table0 {
	width: 640px;
	height: 360px;
	background: url(./tello.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	backdrop-filter: opacity(0);
	background-color: rgba(255,255,255,0.85);
	background-blend-mode: soft-light;
	background-position: center;
}

#tableG {
	right:2px;
	bottom: 2px;
	/*display: none;*/
	line-height: 1.6;
}
#voice {
	line-height: 20px;
	padding: 1px 3px;
}
#voice img {
	border: 0;
	width: 16px;
	height: auto;
	vertical-align: middle;
}

#table3 {
	background: transparent;
	position: absolute;
	/*color:red;*/
	font-size: small;
	left:2px;
	bottom: 2px;
	/*display: none;*/
}
#img0 {
	width: 75px;
	height: 75px;
}
#img0, #img1, #img2, #img3, #img4, #imgz {
	filter: drop-shadow(0px 0px 3px white);
}
#img1, #img2, #img3, #img4 {
        position: absolute;
        display: inline-block;
	z-index:1;
	width: 35px;
	height: 35px;
}
#img1 {
	left:0px;
	top:0px;
}
#img2 {
	right:0px;
	top:0px;
}
#img3 {
	right:0px;
	bottom:9px;
}
#img4 {
	left:0;
	bottom:10px;
}
#img1.g0,
#img3.g0 {
	animation:rotate0 0.2s infinite linear;
	filter: invert(0%) sepia(25%) saturate(6428%) hue-rotate(100deg);
}
#img1.y0,
#img3.y0 {
	animation:rotate0 0.2s infinite linear;
	filter: invert(100%) sepia(50%) saturate(6428%) hue-rotate(0deg);
}
#img1.r0,
#img3.r0 {
	animation:rotate0 0.2s infinite linear;
	filter: invert(0%) sepia(25%) saturate(6428%) hue-rotate(0deg);
}
#img2.g0,
#img4.g0 {
	animation:rotate1 0.2s infinite linear;
	filter: invert(0%) sepia(25%) saturate(6428%) hue-rotate(100deg);
}
#img2.y0,
#img4.y0 {
	animation:rotate1 0.2s infinite linear;
	filter: invert(100%) sepia(50%) saturate(6428%) hue-rotate(0deg);
}
#img2.r0,
#img4.r0 {
	animation:rotate1 0.2s infinite linear;
	filter: invert(0%) sepia(25%) saturate(6428%) hue-rotate(0deg);
}
#img1.g1,
#img3.g1 {
	animation:rotate0 0.5s infinite linear;
	filter: invert(0%) sepia(25%) saturate(6428%) hue-rotate(100deg);
}
#img1.y1,
#img3.y1 {
	animation:rotate0 0.5s infinite linear;
	filter: invert(100%) sepia(50%) saturate(6428%) hue-rotate(0deg);
}
#img1.r1,
#img3.r1 {
	animation:rotate0 0.5s infinite linear;
	filter: invert(0%) sepia(25%) saturate(6428%) hue-rotate(0deg);
}
#img2.g1,
#img4.g1 {
	animation:rotate1 0.5s infinite linear;
	filter: invert(0%) sepia(25%) saturate(6428%) hue-rotate(100deg);
}
#img2.y1,
#img4.y1 {
	animation:rotate1 0.5s infinite linear;
	filter: invert(100%) sepia(50%) saturate(6428%) hue-rotate(0deg);
}
#img2.r1,
#img4.r1 {
	animation:rotate1 0.5s infinite linear;
	filter: invert(0%) sepia(25%) saturate(6428%) hue-rotate(0deg);
}

#imgz {
	width: 120px;
	height: auto;
	position: absolute;
	left: -10px;
	top:-5px;
}

@keyframes rotate0 {
   0% {
       transform:rotate(0deg);
   }
   25% {
       transform:rotate(90deg);
   }
   50% {
       transform:rotate(180deg);
   }
   75% {
       transform:rotate(270deg);
   }
   100% {
       transform:rotate(360deg);
   }
}

@keyframes rotate1 {
   0% {
       transform:rotate(0deg);
   }
   25% {
       transform:rotate(-90deg);
   }
   50% {
       transform:rotate(-180deg);
   }
   75% {
       transform:rotate(-270deg);
   }
   100% {
       transform:rotate(-360deg);
   }
}

#g0, #g3, #g6, #g9, #rl, #rr, #ru, #rd {
	position: absolute;
	display:none;
	font-size:36px;
	color: #0f0;
	filter: drop-shadow(0px 0px 1px black);
	z-index:2;
}
#rl {
	top: calc(50% - 34px);
	left: calc(50% - 14px);
	font-size:42px;
	transform: scale(2.5, 1);
}
#rr {
	top: calc(50% - 34px);
	left: calc(50% - 16px);
	transform: scale(2.5, 1);
	font-size:42px;
}
#ru {
	top: calc(50% - 36px);
	left: calc(50% - 26px);
	transform: rotate(-90deg);
}
#rd {
	top: calc(50% - 24px);
	left: calc(50% - 29px);
	transform: rotate(90deg);
}

#g0 {
	top: calc(50% - 44px);
	left: calc(50% - 17px);
	transform: rotate(-90deg);
}
#g3 {
	top: calc(50% - 30px);
	left: calc(50% - 10px);
}
#g6 {
	top: calc(50% - 24px);
	left: calc(50% - 20px);
	transform: rotate(90deg);
}
#g9 {
	top: calc(50% - 32px);
	left: calc(50% - 28px);
	transform: rotate(180deg);
}

#connect0, #stream0, #stream1,
#poweroff,
#takeoff1, #takeoff0 {
	display: none;
}

#tello-message {
	font-size:small;
	/*font-family: monospace;*/
	text-align: left;
	overflow: hidden auto;
	line-height:1.1;
	height: 180px;
	word-break: break-all;
	transform: scale(-1, 1);
	padding-right: 5px;
}
#tello-message::-webkit-scrollbar{
	width: 5px;
}
#tello-message::-webkit-scrollbar-track{
	background-color: #eee;
}
#tello-message::-webkit-scrollbar-thumb{
	background-color: #ccc;
}
#tello-message div {
	width: 250px;
	transform: scale(-1, 1);
}

#bat {
	width:calc(100%);
	height:calc(100% - 1px);
	border-bottom: 1px solid #aaa;
	display: inline-block;
	z-index:1;
	font-wight: bold;
}
#batc {
	width:calc(0% - 1px);
	height:calc(100% - 2px);
	position:absolute;
	background: #fff;
	display: inline-block;
	top:0;
	right:0;
	border-left: 1px solid #aaa;
}
